.hero {
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;

    .proficient {
        display: inline-block;
        background-color: var(--color-base);
        color: var(--color-bg);
        padding: 0 0.25rem;
    }

    .love {
        color: hsl(0, 81%, 59%);
        font-weight: 700;
    }
}

.hero__title {
    font-size: 2.25rem;
    font-weight: 700;
}

.hero__title, .hero__subtitle {
    margin-bottom: 1.5rem;
}

.scene {
    position: relative;
    padding: 3rem 0 6rem;
    width: 100vw;
}

.sun {
    height: 30vh;
    width: 30vh;
    min-height: 200px;
    min-width: 200px;
    background-color: #FFCE84;
    border-radius: 50%;
    transform: translateX(-40%);
    box-shadow: 0 0 20px rgba(#FFCE84, 80%);
}

.star {
    display: none;
}

.cloud {
    position: absolute;
    bottom: 12.5%;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.12));
    animation-name: moveCloud;
    animation-duration: 25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform: scale(0.75);
}

.cloud-1 {
    left: 10%;
    bottom: 35%;
    animation-duration: 10s;
}

.cloud-2 {
    left: 40%;
    animation-direction: alternate-reverse;
}

.cloud-3 {
    left: 70%;
    bottom: 25%;
    animation-duration: 20s;
}

@keyframes moveCloud {
    0% {
        transform: translateX(-50%) scale(0.75);
    }
    100% {
        transform: translateX(50%) scale(0.85);
    }
}

@include media-breakpoint-up(md) {
    .hero {
        text-align: center;
    }

    .scene {
        max-width: 100%;
    }
    
    .sun {
        margin: auto;
        transform: unset;
    }


}


.next {
    height: 100vh;
}