.btn {
    &:focus {
        box-shadow: none !important;
        outline-offset: 0.1rem !important;
    }
}

.btn-primary {
    background-color: var(--color-base) !important;
    border-color: var(--color-base) !important;
    outline-color: var(--color-base) !important;
    
    color: var(--color-bg) !important;

    &:focus {
        outline: 0.1rem solid var(--color-bg) !important;
    }
}

.btn-outline-primary {
    border-width: 2px !important;
    border-color: var(--color-base) !important;
    outline-color: var(--color-base) !important;
    color: var(--color-base) !important;

    &:hover {
        background-color: var(--color-base) !important;
        color: var(--color-bg) !important;
    }

    &:focus {
        outline: 0.1rem solid var(--color-bg) !important;
    }
}
